In [35]:
# linear algebra
import numpy as np
 
# data processing
import pandas as pd
 
# data visualization
import matplotlib.pyplot as plt
import seaborn as sns
 
# Algorithms
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [36]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [37]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85272 entries, 0 to 85271
Data columns (total 4 columns):
last_name     72215 non-null object
first_name    84899 non-null object
gender        85272 non-null object
race          85272 non-null object
dtypes: object(4)
memory usage: 2.6+ MB

In [38]:
common_value = 'S'
data = [train,test]

for dataset in data:
    dataset['last_name'] = dataset['last_name'].fillna(common_value)
    dataset['first_name'] = dataset['first_name'].fillna(common_value)

In [39]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85272 entries, 0 to 85271
Data columns (total 4 columns):
last_name     85272 non-null object
first_name    85272 non-null object
gender        85272 non-null object
race          85272 non-null object
dtypes: object(4)
memory usage: 2.6+ MB

In [40]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12186 entries, 0 to 12185
Data columns (total 3 columns):
id            12186 non-null int64
last_name     12186 non-null object
first_name    12186 non-null object
dtypes: int64(1), object(2)
memory usage: 285.7+ KB

In [41]:
data = [train,test]
for dataset in data:
    if dataset['first_name'].dtype == type(object):
        le = LabelEncoder()
        dataset['first_name'] = le.fit_transform(dataset['first_name'])

In [42]:
data = [train,test]
for dataset in data:
    if dataset['last_name'].dtype == type(object):
        le = LabelEncoder()
        dataset['last_name'] = le.fit_transform(dataset['last_name'])

In [43]:
data = [train,test]

for dataset in data:
    dataset['first_name'] = dataset['first_name'].astype(float)
    dataset['last_name'] = dataset['last_name'].astype(float)

In [44]:
train.head(9)

   last_name  first_name gender      race
0    11519.0      8392.0      m     black
1     4056.0      2485.0      m     black
2    13241.0     17456.0      m     black
3    13378.0     14479.0      m     black
4     4943.0      9808.0      m  hispanic
5     5086.0      9488.0      m     black
6    18684.0     24405.0      m    indian
7    12830.0     27008.0      m    indian
8       87.0     25281.0      f    indian

In [45]:
train.head(263)

     last_name  first_name gender      race
0      11519.0      8392.0      m     black
1       4056.0      2485.0      m     black
2      13241.0     17456.0      m     black
3      13378.0     14479.0      m     black
4       4943.0      9808.0      m  hispanic
5       5086.0      9488.0      m     black
6      18684.0     24405.0      m    indian
7      12830.0     27008.0      m    indian
8         87.0     25281.0      f    indian
9      10034.0     17132.0      m     black
10      6037.0      9862.0      m     white
11      4778.0     14308.0      m     black
12     13265.0      1899.0      m     white
13     15952.0       815.0      f     white
14      8764.0     11144.0      m     white
15      7222.0     10735.0      m     white
16        87.0     24722.0      m    indian
17      9085.0      3236.0      m     white
18      8100.0     14577.0      m     white
19      7324.0     19000.0      m     white
20     12371.0     16990.0      m     white
21      4060.0      6846.0      m     white
22     17645.0     18117.0      m     white
23      4781.0      9446.0      m     white
24     11788.0      3490.0      m     white
25      8635.0     16160.0      m     black
26     11466.0     15724.0      m     black
27      6049.0     15240.0      m     white
28     13067.0      1154.0      m     white
29      6896.0      9948.0      m     white
..         ...         ...    ...       ...
233    10759.0     20479.0      m     black
234     9983.0      5945.0      m     white
235    15537.0      9470.0      m     white
236     7838.0       846.0      m     white
237    18136.0     15288.0      m  hispanic
238    18684.0     26685.0      f    indian
239      600.0     15243.0      m     white
240       87.0     25332.0      m    indian
241      539.0      6128.0      m     white
242     2753.0      3168.0      m     white
243    14146.0      5674.0      m     white
244       87.0     22372.0      f    indian
245       87.0     25192.0      f    indian
246     4291.0      2103.0      m     black
247     9347.0      8638.0      m     white
248     3111.0      7513.0      m     black
249    17804.0     18485.0      m     white
250    11466.0     11708.0      m     black
251    10581.0     11324.0      m     white
252    11770.0      6792.0      m     black
253     2392.0     10049.0      f     white
254     9108.0     10184.0      m     black
255       87.0     26591.0      f    indian
256    14228.0      9950.0      m     white
257    11770.0     12557.0      m     black
258    10351.0     17402.0      m     white
259       87.0     26304.0      f    indian
260     4933.0     14234.0      f     white
261     9522.0      6881.0      m     black
262    10367.0     21126.0      m     black

[263 rows x 4 columns]

In [46]:
test.head()

   id  last_name  first_name
0   1      177.0      5873.0
1   2     3197.0      3901.0
2   3     2539.0      3941.0
3   4     1415.0      4816.0
4   5     3247.0      2593.0

In [47]:
train_Y = train.gender
train_predictor_columns = ['last_name', 'first_name']
train_X = train[train_predictor_columns]
test_X = test[train_predictor_columns]

In [48]:
logreg = LogisticRegression()
logreg.fit(train_X,train_Y)

Y_pred_gender = logreg.predict(test_X)

acc_log = round(logreg.score(train_X, train_Y) * 100, 2)
print (acc_log)

C:\Users\Shridam\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

80.09

In [49]:
train_Y1 = train.race
train_predictor_columns = ['last_name', 'first_name']
train_X = train[train_predictor_columns]
test_X = test[train_predictor_columns]

In [50]:
logreg = LogisticRegression()
logreg.fit(train_X,train_Y1)

Y_pred_race = logreg.predict(test_X)

acc_log = round(logreg.score(train_X, train_Y1) * 100, 2)
print (acc_log)

C:\Users\Shridam\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Shridam\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

60.51

In [51]:
predictions1 = Y_pred_gender 
predictions2 = Y_pred_race

In [66]:
submission = pd.DataFrame({'id':test['id'], 'gender':predictions1, 'race':predictions2})
submission.head()

   id gender   race
0   1      m  black
1   2      m  white
2   3      m  white
3   4      m  white
4   5      m  white

In [54]:
filename = 'log_reg_techniche.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: log_reg_techniche.csv

In [55]:
decision_tree = DecisionTreeClassifier() 
decision_tree.fit(train_X, train_Y)  
Y_pred_gender = decision_tree.predict(test_X)  
acc_decision_tree = round(decision_tree.score(train_X, train_Y) * 100, 2)
print(acc_decision_tree)

99.6

In [56]:
decision_tree = DecisionTreeClassifier() 
decision_tree.fit(train_X, train_Y1)  
Y_pred_race = decision_tree.predict(test_X)  
acc_decision_tree = round(decision_tree.score(train_X, train_Y1) * 100, 2)
print(acc_decision_tree)

99.44

In [57]:
predictions3 = Y_pred_gender 
predictions4 = Y_pred_race

In [58]:
submission = pd.DataFrame({'id':test['id'], 'gender':predictions3, 'race':predictions4})
submission.head()

   id gender   race
0   1      m  black
1   2      m  black
2   3      m  white
3   4      f  white
4   5      m  black

In [59]:
filename = 'decisiontrees_techniche.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: decisiontrees_techniche.csv

In [82]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(train_X, train_Y)  
Y_pred_gender = knn.predict(test_X) 
acc_knn = round(knn.score(train_X, train_Y) * 100, 2)
print (acc_knn)

93.41

In [81]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(train_X, train_Y1)  
Y_pred_race = knn.predict(test_X) 
acc_knn = round(knn.score(train_X, train_Y1) * 100, 2)
print (acc_knn)

85.38

In [70]:
predictions5 = Y_pred_gender 
predictions6 = Y_pred_race

In [72]:
submission = pd.DataFrame({'id':test['id'], 'gender':predictions5, 'race':predictions6})
submission.head()

   id gender   race
0   1      m  black
1   2      m  black
2   3      m  black
3   4      m  white
4   5      m  black

In [73]:
filename = 'knn3_techniche.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: knn3_techniche.csv

In [74]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(train_X, train_Y)  
Y_pred_gender = knn.predict(test_X) 
acc_knn = round(knn.score(train_X, train_Y) * 100, 2)
print (acc_knn)

99.48

In [75]:
# KNN
knn = KNeighborsClassifier(n_neighbors = 1)
knn.fit(train_X, train_Y1)  
Y_pred_race = knn.predict(test_X) 
acc_knn = round(knn.score(train_X, train_Y1) * 100, 2)
print (acc_knn)

99.39

In [76]:
predictions7 = Y_pred_gender 
predictions8 = Y_pred_race

In [77]:
submission = pd.DataFrame({'id':test['id'], 'gender':predictions7, 'race':predictions8})
submission.head()

   id gender   race
0   1      m  black
1   2      m  black
2   3      m  black
3   4      m  black
4   5      m  black

In [78]:
filename = 'knn1_techniche.csv'
submission.to_csv(filename, index = False)
print('saved file: ' + filename)

saved file: knn1_techniche.csv